#### Import numpy and pandas

In [1]:
import numpy as np
import pandas as pd

#### Import the `district-wise crime against the women` data

In [2]:
distrCAW = pd.read_csv("D:\\case study\\data\\dstrCAW_1.csv")

#### Check the info() of the distrCAW

In [97]:
distrCAW.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9017 entries, 0 to 9016
Data columns (total 10 columns):
STATE/UT                                               9017 non-null object
DISTRICT                                               9017 non-null object
Year                                                   9017 non-null int64
Rape                                                   9017 non-null int64
Kidnapping and Abduction                               9017 non-null int64
Dowry Deaths                                           9017 non-null int64
Assault on women with intent to outrage her modesty    9017 non-null int64
Insult to modesty of Women                             9017 non-null int64
Cruelty by Husband or his Relatives                    9017 non-null int64
Importation of Girls                                   9017 non-null int64
dtypes: int64(8), object(2)
memory usage: 704.5+ KB

#### Q1. Generate a multi-dimensional report displaying the total "Dowry Deaths" crime against the women for all the states during each year

In [4]:
distrCAW_modified = distrCAW[distrCAW["DISTRICT"].isin(["TOTAL","DELHI UT TOTAL"]) == False]
#distrCAW_modified = distrCAW[(distrCAW["DISTRICT"] == "TOTAL" or distrCAW["DISTRICT"] == "DELHI UT TOTAL") == False]

In [5]:
distrCAW_modified

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
5,ANDHRA PRADESH,GUNTAKAL RLY.,2001,0,0,0,1,0,0,0
6,ANDHRA PRADESH,GUNTUR,2001,54,51,7,139,129,378,0
7,ANDHRA PRADESH,HYDERABAD CITY,2001,37,39,24,118,27,746,0
8,ANDHRA PRADESH,KARIMNAGAR,2001,56,49,62,414,81,224,0
9,ANDHRA PRADESH,KHAMMAM,2001,47,30,17,180,336,172,0
10,ANDHRA PRADESH,KRISHNA,2001,37,21,10,208,72,265,0
11,ANDHRA PRADESH,KURNOOL,2001,29,47,13,141,107,92,0
12,ANDHRA PRADESH,MAHABOOBNAGAR,2001,59,27,14,176,41,69,0
13,ANDHRA PRADESH,MEDAK,2001,35,20,26,100,25,192,0
14,ANDHRA PRADESH,NALGONDA,2001,35,19,31,188,59,214,0
15,ANDHRA PRADESH,NELLORE,2001,46,80,10,207,228,287,0
16,ANDHRA PRADESH,NIZAMABAD,2001,21,21,19,55,15,228,0
17,ANDHRA PRADESH,PRAKASHAM,2001,19,12,5,140,100,119,0
18,ANDHRA PRADESH,RANGA REDDY,2001,72,83,37,113,55,421,7
19,ANDHRA PRADESH,SECUNDERABAD RLY.,2001,0,0,1,0,1,0,0
20,ANDHRA PRADESH,SRIKAKULAM,2001,8,12,6,38,47,108,0
21,ANDHRA PRADESH,VIJAYAWADA,2001,25,48,2,84,122,520,0
22,ANDHRA PRADESH,VIJAYAWADA RLY.,2001,1,0,0,1,1,0,0
23,ANDHRA PRADESH,VISAKHA RURAL,2001,12,12,3,67,48,99,0
24,ANDHRA PRADESH,VISAKHAPATNAM,2001,13,6,0,33,462,204,0
25,ANDHRA PRADESH,VIZIANAGARAM,2001,8,2,0,40,22,121,0
26,ANDHRA PRADESH,WARANGAL,2001,53,25,52,241,0,165,0
27,ANDHRA PRADESH,WEST GODAVARI,2001,61,21,15,246,56,348,0
29,ARUNACHAL PRADESH,CHANGLANG,2001,1,2,0,3,0,0,0
30,ARUNACHAL PRADESH,DIBANG VALLEY,2001,2,4,0,4,0,2,0
...,...,...,...,...,...,...,...,...,...,...
8979,WEST BENGAL,SILIGURI G.R.P.,2012,0,3,1,8,1,0,0
8980,WEST BENGAL,SILIGURI_PC,2012,21,111,3,35,12,370,0
8981,WEST BENGAL,UTTAR DINAJPUR,2012,92,258,9,150,5,623,0
8983,A & N ISLANDS,CAR,2012,0,1,0,1,0,0,0
8984,A & N ISLANDS,NORTH,2012,4,0,0,2,1,2,0
8985,A & N ISLANDS,SOUTH,2012,8,6,2,14,3,3,0
8987,CHANDIGARH,CHANDIGARH,2012,27,66,5,45,25,73,0
8989,D & N HAVELI,D and N HAVELI,2012,3,9,0,2,0,0,0
8991,DAMAN & DIU,DAMAN,2012,5,0,0,0,0,1,0
8992,DAMAN & DIU,DIU,2012,0,0,0,0,0,2,0
8994,DELHI,CAW,2012,0,0,0,0,0,178,0
8995,DELHI,CENTRAL,2012,31,95,4,47,12,57,0
8996,DELHI,CRIME BRANCH,2012,1,1,0,0,0,0,0
8998,DELHI,EAST,2012,90,251,7,96,26,202,0
8999,DELHI,EOW,2012,0,0,0,0,0,0,0
9000,DELHI,GRP(RLY),2012,4,12,1,12,6,0,0
9001,DELHI,IGI AIRPORT,2012,0,0,0,6,0,0,0
9002,DELHI,NEW DELHI,2012,5,13,0,29,7,4,0
9003,DELHI,NORTH,2012,14,84,6,29,10,70,0
9004,DELHI,NORTH-EAST,2012,78,263,25,69,9,293,0
9005,DELHI,NORTH-WEST,2012,64,184,12,19,14,212,0
9006,DELHI,OUTER,2012,67,317,15,79,18,244,0
9007,DELHI,SOUTH,2012,70,134,17,59,36,68,0
9008,DELHI,SOUTH-EAST,2012,116,306,11,160,43,123,0
9009,DELHI,SOUTH-WEST,2012,87,244,18,69,21,207,0
9010,DELHI,STF,2012,0,0,0,0,0,0,0
9011,DELHI,WEST,2012,79,256,18,53,6,327,0
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,1,0,1,0
9014,PUDUCHERRY,KARAIKAL,2012,6,2,0,2,0,1,0
9015,PUDUCHERRY,PUDUCHERRY,2012,7,14,0,7,2,5,0

In [7]:
multireport = pd.pivot_table(distrCAW_modified, index = 'STATE/UT', values = 'Dowry Deaths', columns = 'Year', aggfunc = [np.sum])

In [98]:
multireport

                    sum                                                        \
Year               2001  2002  2003  2004  2005  2006  2007  2008  2009  2010
STATE/UT
A & N ISLANDS         0     0     0     0     0     0     1     2     1     0
ANDHRA PRADESH      420   449   466   512   443   519   613   556   546   588
ARUNACHAL PRADESH     0     0     0     0     0     1     0     0     0     0
ASSAM                59    70    60    74    99   105   100   103   170   175
BIHAR               859   927   909  1029  1014  1188  1172  1210  1295  1257
CHANDIGARH            3     1     1     6     3    10     1     3     2     5
CHHATTISGARH         70    85    79    71   100   103   100   106   128   115
D & N HAVELI          0     0     0     0     0     1     0     0     0     0
DAMAN & DIU           0     0     1     0     1     0     1     0     0     0
DELHI               113   135   130   126   114   137   138   129   141   143
GOA                   2     2     2     2     2     0     2     2     3     1
GUJARAT              67    62    54    58    48    50    42    27    24    19
HARYANA             285   256   222   251   212   255   269   302   281   284
HIMACHAL PRADESH     10     6     6     8     2     3     8     3     1     2
JAMMU & KASHMIR      13    18    10     9     5    10     9    21    12     9
JHARKHAND           217   275   262   275   257   281   303   266   295   276
KARNATAKA           220   233   194   259   261   244   251   259   264   248
KERALA               27    17    33    31    21    25    27    31    20    22
LAKSHADWEEP           0     0     0     0     0     0     0     0     0     0
MADHYA PRADESH      609   674   648   751   739   764   742   805   858   892
MAHARASHTRA         308   303   368   314   341   387   436   390   341   393
MANIPUR               0     0     0     0     0     0     0     1     0     0
MEGHALAYA             0     0     0     2     1     6     2     2     0     0
MIZORAM               0     0     0     0     4     0     0     0     0     0
NAGALAND              0     0     0     0     0     0     0     0     0     0
ODISHA              294   248   279   319   334   457   461   401   384   388
PUDUCHERRY            1     5     1     6     4     3     2     2     0     1
PUNJAB              159   166   110   113    99   130   133   128   126   121
RAJASTHAN           376   399   389   379   361   394   439   439   436   462
SIKKIM                0     0     0     0     0     0     0     0     0     1
TAMIL NADU          191   243   220   225   215   187   208   207   194   165
TRIPURA              16    16    20    20    34    35    36    16    29    25
UTTAR PRADESH      2211  1893  1322  1708  1564  1798  2076  2237  2232  2217
UTTARAKHAND          56    66    93    82    63    80    70    73    94    75
WEST BENGAL         265   273   329   396   446   445   451   451   506   507


Year               2011  2012
STATE/UT
A & N ISLANDS         0     2
ANDHRA PRADESH      599   504
ARUNACHAL PRADESH     0     1
ASSAM               121   140
BIHAR              1413  1275
CHANDIGARH            2     5
CHHATTISGARH        104    81
D & N HAVELI          0     0
DAMAN & DIU           0     0
DELHI               142   134
GOA                   1     0
GUJARAT              30    21
HARYANA             255   258
HIMACHAL PRADESH      4     2
JAMMU & KASHMIR      11     8
JHARKHAND           282   302
KARNATAKA           267   218
KERALA               15    32
LAKSHADWEEP           0     0
MADHYA PRADESH      811   743
MAHARASHTRA         339   329
MANIPUR               1     0
MEGHALAYA             1     1
MIZORAM               0     0
NAGALAND              0     0
ODISHA              465   525
PUDUCHERRY            1     0
PUNJAB              143   118
RAJASTHAN           514   478
SIKKIM                0     1
TAMIL NADU          152   110
TRIPURA              30    37
UTTAR PRADESH      2322  2244
UTTARAKHAND          83    71
WEST BENGAL         510   593

#### Q2. From this multi-dimensional report display the state name having highest "Dowry deaths" crimes in any year

In [9]:
id1 = multireport.idxmax().unique()
id2 = multireport.max().idxmax()
#print(id1)
#print(id2)
multireport.loc[id1,id2]

STATE/UT
UTTAR PRADESH    2322
Name: (sum, 2011), dtype: int64

#### Q3. Display the district name having highest "Dowry deaths" crimes in any year

In [99]:
distrCAW.iloc[distrCAW_modified["Dowry Deaths"].idxmax()][[0,1,2,5]]

STATE/UT        BIHAR
DISTRICT         GAYA
Year             2006
Dowry Deaths      168
Name: 3714, dtype: object

#### Q4. Display the district name having highest "Rape" crimes in any year

In [100]:
distrCAW.iloc[distrCAW_modified["Rape"].idxmax()][0:4]

STATE/UT    WEST BENGAL
DISTRICT    MURSHIDABAD
Year               2009
Rape                568
Name: 6594, dtype: object

#### Q5. Display the district name having highest "Kidnapping and Abduction" crimes in any year

In [101]:
distrCAW.iloc[distrCAW_modified["Kidnapping and Abduction"].idxmax()][[0,1,2,4]]

STATE/UT                    WEST BENGAL
DISTRICT                    MURSHIDABAD
Year                               2011
Kidnapping and Abduction            492
Name: 8164, dtype: object

#### Q6. Is there any district with no crimes in the year 2012?

In [102]:
distrCAW.iloc[distrCAW_modified[distrCAW_modified["Year"]==2012].drop("Year",axis=1).sum(axis=1).idxmin()]

STATE/UT                                               ASSAM
DISTRICT                                                BIEO
Year                                                    2012
Rape                                                       0
Kidnapping and Abduction                                   0
Dowry Deaths                                               0
Assault on women with intent to outrage her modesty        0
Insult to modesty of Women                                 0
Cruelty by Husband or his Relatives                        0
Importation of Girls                                       0
Name: 8260, dtype: object

#### Q7. Display the crime report of your native district for the year 2012

In [103]:
distrCAW_modified[(distrCAW_modified["Year"]==2012) & (distrCAW_modified["DISTRICT"] == "JHUNJHUNU")]

,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
8790,RAJASTHAN,JHUNJHUNU,2012,45,55,17,44,0,347,0

#### Import the `Case_reported_and_value_of_property_taken_away` data

In [104]:
propertycrimes  = pd.read_csv("D:\\case study\\data\\Case_reported_and_value_of_property_taken_away.csv")

#### Check the info() of this imported data

In [105]:
propertycrimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4344 entries, 0 to 4343
Data columns (total 11 columns):
STATE/UT                                                                                   4344 non-null object
YEAR                                                                                       4344 non-null int64
Place Of Occurrence                                                                        4344 non-null object
Dacoity (Section 395-398 IPC) - Number of cases registered                                 4344 non-null int64
Dacoity (Section 395-398 IPC) - Value Of Property Stolen (in rupees)                       4344 non-null int64
Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered                        4344 non-null int64
Robbery(Section 392-394, 397, 398 IPC) - Value Of Property Stolen (in rupees)              4344 non-null int64
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered              4344 non-null int64
Burglary(Section 449-452, 454, 455, 457-460 IPC) - Value Of Property Stolen (in rupees)    4344 non-null int64
Theft (Section 379-382 IPC) - Number of cases registered                                   4344 non-null int64
Theft (Section 379-382 IPC) - Value Of Property Stolen (in rupees)                         4344 non-null int64
dtypes: int64(9), object(2)
memory usage: 373.4+ KB

#### Q8. Display the total number of different types of property crimes registered for different "Place Of Occurrence:

In [49]:
propertycrimes_modified = propertycrimes[propertycrimes["Place Of Occurrence"].isin(["TOTAL (MANUAL)","TOTAL COMPUTER FROM 1 TO 7"]) == False]

In [106]:
propertycrimes_modified.drop("YEAR",axis = 1).groupby("Place Of Occurrence").sum().iloc[:,[0,2,4,6]]

,Dacoity (Section 395-398 IPC) - Number of cases registered,"Robbery(Section 392-394, 397, 398 IPC) - Number of cases registered","Burglary(Section 449-452, 454, 455, 457-460 IPC) - Number of cases registered",Theft (Section 379-382 IPC) - Number of cases registered
Place Of Occurrence,,,,
BANKS,676,1235,4635,5087
COMMERCIAL ESTABLISHMENTS,3819,12459,167475,327484
HIGH-WAY,10142,51832,3439,156498
OTHER PLACES,19555,138697,206776,1920458
OTHERS RLY.,385,2734,1232,76562
RAILWAYS,1460,5705,1356,170749
RESIDENTIAL PREMISES,23685,38149,733486,917902
RIVER & SEA,72,190,172,2352
RUNNING TRAINS,1075,2971,124,94187

#### Q9. Display the total number of property crimes registered for each state in decreasing order

In [107]:
propertycrimes[propertycrimes["Place Of Occurrence"] == "TOTAL (MANUAL)"].drop("YEAR",axis=1).iloc[:,[0,2,4,6,8]].groupby("STATE/UT").sum().sum(axis=1).sort_values(ascending=False)

STATE/UT
Maharashtra          788318
Madhya Pradesh       425175
Uttar Pradesh        413210
Andhra Pradesh       394118
Rajasthan            307876
Karnataka            293126
Gujarat              292121
Delhi UT             261943
Tamil Nadu           251008
Bihar                228430
West Bengal          205964
Haryana              185144
Odisha               137428
Assam                131864
Kerala               118417
Chhattisgarh         114110
Jharkhand            102619
Punjab                80412
Jammu & Kashmir       44317
Uttarakhand           27960
Chandigarh            21849
Himachal Pradesh      19628
Mizoram               14710
Goa                   12098
Meghalaya              9662
Arunachal Pradesh      9061
Puducherry             8557
Tripura                8030
Nagaland               6115
Manipur                5720
A&N Islands            2105
Sikkim                 1966
D&N Haveli             1231
Daman & Diu            1101
Lakshadweep             152
dtype: int64

#### Q10. Display the total Value Of Property Stolen (in rupees) for each state in decreasing order

In [108]:
propertycrimes[propertycrimes["Place Of Occurrence"] == "TOTAL (MANUAL)"].drop("YEAR",axis=1).iloc[:,[0,3,5,7,9]].groupby("STATE/UT").sum().sum(axis=1).sort_values(ascending=False)

STATE/UT
Maharashtra          49448123479
Delhi UT             19019965399
Madhya Pradesh       17264062946
Gujarat              15301500137
Uttar Pradesh        14714567569
West Bengal          14319779102
Karnataka            13785094670
Andhra Pradesh       12194145643
Rajasthan            11999662587
Haryana               8303942393
Tamil Nadu            7802308755
Kerala                6559370934
Odisha                6384532078
Punjab                5948043021
Bihar                 4755283575
Assam                 3394244769
Chhattisgarh          3218416411
Jharkhand             2427567003
Nagaland              1838658687
Jammu & Kashmir       1764273641
Himachal Pradesh      1381664435
Uttarakhand           1152779313
Chandigarh            1142771678
Arunachal Pradesh     1039809140
Goa                    970195424
Meghalaya              852593044
Mizoram                490308438
Manipur                360609026
Tripura                315375317
Puducherry             258268510
D&N Haveli             184798274
Daman & Diu            158428109
A&N Islands             81058890
Sikkim                  78261714
Lakshadweep              3070401
dtype: int64

#### Q11. Display the total number of property crimes registered for each year

In [109]:
propertycrimes[propertycrimes["Place Of Occurrence"] == "TOTAL (MANUAL)"].iloc[:,[1,3,5,7,9]].groupby("YEAR").sum().sum(axis=1)

YEAR
2001    380040
2002    368788
2003    360879
2004    389304
2005    386033
2006    389223
2007    399976
2008    435555
2009    443260
2010    448242
2011    462289
2012    461956
dtype: int64

#### Q12. Display the total Value Of Property Stolen (in rupees) for each year

In [110]:
propertycrimes[propertycrimes["Place Of Occurrence"] == "TOTAL (MANUAL)"].iloc[:,[1,4,6,8,10]].groupby("YEAR").sum().sum(axis=1)

YEAR
2001    10267778072
2002    11341068124
2003    10487231819
2004    12080306163
2005    12543272778
2006    14961048282
2007    17058013034
2008    20133023568
2009    22487427021
2010    34078897108
2011    30187583293
2012    33287885250
dtype: int64

#### import the `VICTIM_OF_MURDER_0` data

In [111]:
murder_Crimes = pd.read_csv("D:\\case study\\data\\VICTIM_OF_MURDER_0.csv")

#### check the info() of this imported data

In [112]:
murder_Crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1257 entries, 0 to 1256
Data columns (total 10 columns):
STATE/UT          1257 non-null object
YEAR              1257 non-null int64
GENDER            1257 non-null object
Upto 10 years     1257 non-null int64
10-15 years       1257 non-null int64
15-18 years       1257 non-null int64
18-30 years       1257 non-null int64
30-50 years       1257 non-null int64
Above 50 years    1257 non-null int64
Total             1257 non-null int64
dtypes: int64(8), object(2)
memory usage: 98.3+ KB

#### Q13. Display the total number of murders happened for each gender

In [53]:
murder_Crimes_modified = murder_Crimes[(murder_Crimes["GENDER"]=="Total")==False]

In [32]:
murder_Crimes_modified[["GENDER","Total"]].groupby("GENDER").sum()

         Total
GENDER
Female  100414
Male    317685

#### Q14. Display the state details having highest number of child and adult murders for female category in decreasing oreder 
#### Here `child` refers to the samples having Upto 10 years and 10-15 years age and `adult` refers to 15-18 years age samples

In [113]:
murder_Crimes_modified[murder_Crimes_modified["GENDER"]=="Female"].iloc[:,[0,3,4,5]].groupby("STATE/UT").sum().sum(axis=1).sort_values(ascending=False)

STATE/UT
Uttar Pradesh        2003
Maharashtra          1353
Tamil Nadu            646
Gujarat               553
Karnataka             552
Madhya Pradesh        539
Andhra Pradesh        529
Kerala                389
Chhattisgarh          348
Bihar                 341
Rajasthan             273
Delhi UT              214
Punjab                180
Jharkhand             165
Haryana               139
Odisha                 84
West Bengal            71
Jammu & Kashmir        55
Himachal Pradesh       49
Assam                  35
Uttarakhand            31
Tripura                27
Manipur                21
Meghalaya              16
Goa                    15
Chandigarh             11
Sikkim                 10
A&N Islands             8
Nagaland                8
Puducherry              5
Mizoram                 4
D&N Haveli              3
Lakshadweep             2
Daman & Diu             2
Arunachal Pradesh       0
dtype: int64

#### Q15. Display the state details having highest number of senior citizen murders in female category in decreasing order
#### Here `senior citizen` refers to the samples having Above 50 years age

In [114]:
murder_Crimes_modified[murder_Crimes_modified["GENDER"]=="Female"].iloc[:,[0,8]].groupby("STATE/UT").sum().sum(axis=1).sort_values(ascending=False)

STATE/UT
Andhra Pradesh       1048
Maharashtra           995
Tamil Nadu            985
Uttar Pradesh         902
Madhya Pradesh        763
Karnataka             626
Chhattisgarh          534
Rajasthan             382
West Bengal           380
Gujarat               377
Odisha                319
Kerala                315
Jharkhand             281
Punjab                206
Bihar                 183
Delhi UT              173
Haryana               139
Jammu & Kashmir        62
Himachal Pradesh       47
Uttarakhand            43
Tripura                42
Goa                    35
Assam                  29
Puducherry             14
Chandigarh             13
Manipur                11
Meghalaya               9
Nagaland                7
Mizoram                 5
A&N Islands             4
Daman & Diu             3
D&N Haveli              2
Sikkim                  2
Arunachal Pradesh       2
Lakshadweep             0
dtype: int64

#### Q16. Create a multi-dimensional report indicating the total number of murders for all the states during each year

In [115]:
murder_Crimes[murder_Crimes["GENDER"]=="Total"].pivot_table(index="STATE/UT",columns="YEAR",values="Total")

YEAR,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012
STATE/UT,,,,,,,,,,,,
A&N Islands,13.0,17.0,21.0,15.0,15.0,5.0,15.0,8.0,18.0,10.0,15.0,17.0
Andhra Pradesh,2783.0,2651.0,2914.0,2640.0,2928.0,2940.0,2850.0,2762.0,2475.0,2538.0,2808.0,2725.0
Arunachal Pradesh,83.0,61.0,77.0,67.0,81.0,60.0,68.0,72.0,59.0,75.0,65.0,73.0
Assam,1356.0,1253.0,1191.0,1214.0,1194.0,1207.0,1374.0,1426.0,1323.0,1223.0,1303.0,1368.0
Bihar,3643.0,3831.0,3772.0,3948.0,3471.0,3249.0,3081.0,3139.0,3179.0,3362.0,3198.0,3604.0
Chandigarh,15.0,31.0,21.0,22.0,18.0,14.0,20.0,17.0,22.0,22.0,25.0,21.0
Chhattisgarh,1657.0,844.0,797.0,927.0,1050.0,1098.0,1097.0,1169.0,1083.0,1065.0,1110.0,999.0
D&N Haveli,3.0,11.0,11.0,11.0,7.0,9.0,10.0,9.0,10.0,6.0,14.0,7.0
Daman & Diu,NaN,8.0,6.0,3.0,5.0,7.0,12.0,2.0,5.0,5.0,6.0,4.0
Delhi UT,574.0,541.0,502.0,510.0,533.0,488.0,511.0,589.0,571.0,577.0,569.0,540.0
Goa,37.0,31.0,34.0,42.0,49.0,40.0,34.0,53.0,57.0,35.0,49.0,47.0
Gujarat,1280.0,2327.0,1164.0,1169.0,1103.0,1214.0,1214.0,1145.0,1059.0,1082.0,1144.0,1151.0
Haryana,818.0,811.0,748.0,742.0,812.0,899.0,942.0,970.0,1007.0,1044.0,1125.0,1023.0
Himachal Pradesh,122.0,132.0,130.0,110.0,118.0,129.0,132.0,130.0,133.0,133.0,135.0,113.0
Jammu & Kashmir,1412.0,1307.0,1115.0,989.0,746.0,641.0,366.0,266.0,262.0,235.0,180.0,132.0
Jharkhand,1507.0,1488.0,1482.0,1488.0,1523.0,1492.0,1617.0,1697.0,1636.0,1752.0,1801.0,1742.0
Karnataka,1678.0,1704.0,1576.0,1567.0,1673.0,1677.0,1586.0,1800.0,1752.0,1878.0,1920.0,1920.0
Kerala,489.0,454.0,435.0,427.0,431.0,426.0,393.0,379.0,369.0,405.0,395.0,389.0
Lakshadweep,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
Madhya Pradesh,2425.0,2395.0,2227.0,2380.0,2428.0,2330.0,2315.0,2351.0,2402.0,2441.0,2555.0,2431.0
Maharashtra,2950.0,2991.0,2951.0,2777.0,2745.0,2961.0,2793.0,2976.0,2712.0,2837.0,2921.0,2822.0
Manipur,233.0,222.0,185.0,193.0,295.0,238.0,295.0,268.0,174.0,101.0,98.0,101.0
Meghalaya,169.0,184.0,175.0,157.0,138.0,157.0,114.0,126.0,128.0,137.0,170.0,142.0
Mizoram,31.0,29.0,46.0,35.0,35.0,25.0,43.0,35.0,31.0,48.0,26.0,30.0
Nagaland,109.0,108.0,91.0,73.0,91.0,123.0,118.0,147.0,49.0,47.0,47.0,83.0
Odisha,1005.0,1148.0,1102.0,1137.0,1133.0,1167.0,1235.0,1250.0,1266.0,1319.0,1477.0,1596.0
Puducherry,25.0,31.0,30.0,25.0,19.0,30.0,35.0,35.0,39.0,34.0,34.0,30.0
Punjab,787.0,772.0,769.0,802.0,744.0,851.0,826.0,815.0,861.0,945.0,866.0,889.0
Rajasthan,1275.0,1324.0,1284.0,1292.0,1246.0,1238.0,1359.0,1320.0,1417.0,1421.0,1461.0,1461.0
Sikkim,19.0,13.0,16.0,18.0,9.0,21.0,9.0,9.0,20.0,17.0,14.0,7.0
Tamil Nadu,1662.0,1787.0,1654.0,1544.0,1511.0,1418.0,1711.0,1824.0,1857.0,1908.0,1940.0,2020.0
Tripura,240.0,201.0,254.0,226.0,158.0,165.0,150.0,166.0,148.0,159.0,163.0,124.0
Uttar Pradesh,8180.0,7538.0,5284.0,6665.0,6365.0,5762.0,5182.0,4699.0,4679.0,4456.0,5031.0,5042.0
Uttarakhand,381.0,335.0,293.0,267.0,290.0,285.0,268.0,261.0,195.0,176.0,191.0,217.0
West Bengal,1673.0,1453.0,1464.0,1433.0,1454.0,1442.0,1653.0,1811.0,2161.0,2415.0,2267.0,2252.0

#### Q17. Display the total number of murders happened for each state in decreasing order

In [116]:
murder_Crimes[murder_Crimes["GENDER"]=="Total"].pivot_table(index="STATE/UT",columns="YEAR",values="Total").sum(axis=1).sort_values(ascending=False)

STATE/UT
Uttar Pradesh        68883.0
Bihar                41477.0
Maharashtra          34436.0
Andhra Pradesh       33014.0
Madhya Pradesh       28680.0
West Bengal          21478.0
Tamil Nadu           20836.0
Karnataka            20731.0
Jharkhand            19225.0
Rajasthan            16098.0
Assam                15432.0
Gujarat              15052.0
Odisha               14835.0
Chhattisgarh         12896.0
Haryana              10941.0
Punjab                9927.0
Jammu & Kashmir       7651.0
Delhi UT              6505.0
Kerala                4992.0
Uttarakhand           3159.0
Manipur               2403.0
Tripura               2154.0
Meghalaya             1797.0
Himachal Pradesh      1517.0
Nagaland              1086.0
Arunachal Pradesh      841.0
Goa                    508.0
Mizoram                414.0
Puducherry             367.0
Chandigarh             248.0
Sikkim                 172.0
A&N Islands            169.0
D&N Haveli             108.0
Daman & Diu             63.0
Lakshadweep              4.0
dtype: float64

#### Import the `VICTIMS_OF_KA_0` data

In [117]:
KA_crimes = pd.read_csv("D:\\case study\\data\\VICTIMS_OF_KA_0.csv")

#### Q18. Display the total number of Kidnapping and Abducation reported under `For Begging` purpose for child category across all the states
#### Here `child` category includes Male upto 10 years, Female upto 10 years, Male 10-15 years and Female 10-15 years

In [118]:
KA_crimes[KA_crimes["Pupose"]=="For Begging"].iloc[:,[0,4,5,6,7]].groupby("STATE/UT").sum().sum(axis=1)

STATE/UT
A&N Islands           0
Andhra Pradesh       15
Arunachal Pradesh     0
Assam                 3
Bihar                 7
Chandigarh            2
Chhattisgarh          7
D&N Haveli            0
Daman & Diu           0
Delhi UT              5
Goa                   1
Gujarat              14
Haryana               6
Himachal Pradesh      0
Jammu & Kashmir       1
Jharkhand             4
Karnataka             8
Kerala               17
Lakshadweep           0
Madhya Pradesh        8
Maharashtra          36
Manipur               5
Meghalaya             4
Mizoram               0
Nagaland              1
Odisha                9
Puducherry            3
Punjab                3
Rajasthan            12
Sikkim                0
Tamil Nadu            4
Tripura               0
Uttar Pradesh        20
Uttarakhand           2
West Bengal          51
dtype: int64

#### Q19. Display the total number of Kidnapping and Abducation reported for senior citizens across all the states
#### Here `senior citizens` refers to the Male above 50 years and Female above 50 years

In [119]:
KA_crimes[(KA_crimes["Pupose"]=="Total")==False].iloc[:,[0,14,15]].groupby("STATE/UT").sum().sum(axis=1).sort_values()

STATE/UT
A&N Islands            0
Lakshadweep            0
Sikkim                 0
Daman & Diu            0
Arunachal Pradesh      1
Chandigarh             2
D&N Haveli             3
Goa                    3
Puducherry             4
Mizoram                7
Uttarakhand           11
Meghalaya             14
Himachal Pradesh      16
Chhattisgarh          21
Nagaland              23
Jammu & Kashmir       26
Jharkhand             34
Tripura               42
Odisha                42
Delhi UT              65
Assam                 71
Punjab                75
Gujarat               95
Kerala                96
Haryana              117
Manipur              123
Madhya Pradesh       124
Tamil Nadu           191
Maharashtra          199
Karnataka            235
Uttar Pradesh        288
Rajasthan            349
Andhra Pradesh       355
Bihar                379
West Bengal          857
dtype: int64

#### Q19. Display the total number of Kidnapping and Abducation reported under `For marriage` purpose for  youngsters across all the states
#### Here `youngsters` refers to the Male 18-30 years and Female 18-30 years

In [120]:
KA_crimes[KA_crimes["Pupose"]=="For marriage"].iloc[:,[1,10,11]].groupby("YEAR").sum()

      Male 18-30 years  Female 18-30 years
YEAR
2001               155                4094
2002               240                6172
2003               213                5959
2004               114                7263
2005               108                7017
2006               170                7103
2007               142                7930
2008               185                8935
2009               109               10113
2010               187               11291
2011               210               11263
2012               137               11850

#### Q20. Display state and `purpose`  wise the total number of cases reported

In [123]:
KA_crimes[(KA_crimes["Pupose"]=="Total")==False].iloc[:,[0,2,3]].groupby(["STATE/UT","Pupose"]).sum().sum(axis=1)

STATE/UT           Pupose
A&N Islands        For Adoption                   0
                   For Begging                    0
                   For Camel racing               0
                   For Illicit intercourse        0
                   For Prostitution               0
                   For Ransom                     0
                   For Revenge                    0
                   For Sale                       0
                   For Selling body parts         0
                   For Slavery                    0
                   For marriage                  20
                   For unlawaful activity         0
                   Others                        74
Andhra Pradesh     For Adoption                  31
                   For Begging                   43
                   For Camel racing               3
                   For Illicit intercourse     1486
                   For Prostitution             459
                   For Ransom                   233
                   For Revenge                  585
                   For Sale                      49
                   For Selling body parts         0
                   For Slavery                  105
                   For marriage                7515
                   For unlawaful activity      1589
                   Others                      9141
Arunachal Pradesh  For Adoption                   2
                   For Begging                    0
                   For Camel racing               0
                   For Illicit intercourse       64
                                              ...
Uttar Pradesh      For Slavery                  535
                   For marriage               32411
                   For unlawaful activity        51
                   Others                      8627
Uttarakhand        For Adoption                   0
                   For Begging                    1
                   For Camel racing               0
                   For Illicit intercourse       56
                   For Prostitution               3
                   For Ransom                    50
                   For Revenge                    3
                   For Sale                       0
                   For Selling body parts         0
                   For Slavery                    0
                   For marriage                1531
                   For unlawaful activity        55
                   Others                      1153
West Bengal        For Adoption                  85
                   For Begging                   68
                   For Camel racing               0
                   For Illicit intercourse      811
                   For Prostitution            1198
                   For Ransom                   620
                   For Revenge                  204
                   For Sale                     540
                   For Selling body parts         1
                   For Slavery                   35
                   For marriage                8228
                   For unlawaful activity       956
                   Others                     13253
Length: 456, dtype: int64

#### Join/merge all these four data files pointing to four different crime types

#### Q21. Refer to the joined/merged data. Find out the total number of crimes in decreasing order for each state.

In [96]:
df1 = distrCAW_modified.drop("Year",axis=1).groupby("STATE/UT").sum().sum(axis=1)
df2 = propertycrimes_modified.iloc[:,[0,3,5,7,9]].groupby("STATE/UT").sum().sum(axis=1)
df3 = murder_Crimes_modified.iloc[:,[0,3,4,5,6,7,8]].groupby("STATE/UT").sum().sum(axis=1)
df4 = KA_crimes[(KA_crimes["Pupose"]=="Total")==False].iloc[:,[0,3]].groupby("STATE/UT").sum().sum(axis=1)
df1.index = df1.index.str.lower()
df2.index = df2.index.str.lower()
df3.index = df3.index.str.lower()
df4.index = df4.index.str.lower()
df1.rename(index={'a & n islands':'a&n islands'}, inplace=True)

In [124]:
final_joined = pd.concat([df1,df2,df3,df4], axis=1)
final_joined.sum(axis=1).sort_values(ascending = False)

D:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

maharashtra          1041119.0
uttar pradesh         790210.0
andhra pradesh        703131.0
madhya pradesh        668411.0
rajasthan             537609.0
west bengal           466041.0
gujarat               418590.0
bihar                 403264.0
karnataka             397878.0
tamil nadu            359689.0
delhi ut              303943.0
assam                 270250.0
haryana               265491.0
odisha                244779.0
kerala                219185.0
chhattisgarh          179509.0
jharkhand             164515.0
punjab                127675.0
jammu & kashmir        91465.0
delhi                  48089.0
uttarakhand            46264.0
himachal pradesh       33635.0
chandigarh             24858.0
tripura                24300.0
mizoram                16952.0
meghalaya              14196.0
goa                    14144.0
arunachal pradesh      12788.0
manipur                12106.0
puducherry             10319.0
nagaland                8028.0
a&n islands             2938.0
sikkim                  2763.0
d&n haveli              1480.0
daman & diu             1280.0
d & n haveli             243.0
lakshadweep              177.0
dtype: float64

#### Q22. Refer to the joined/merged data. Find out the total number of crimes in decreasing order for each year.

In [93]:
df1 = distrCAW_modified.groupby("Year").sum().sum(axis=1)
df2 = propertycrimes_modified.iloc[:,[1,3,5,7,9]].groupby("YEAR").sum().sum(axis=1)
df3 = murder_Crimes_modified.iloc[:,[1,3,4,5,6,7,8]].groupby("YEAR").sum().sum(axis=1)
df4 = KA_crimes[(KA_crimes["Pupose"]=="Total")==False].iloc[:,[1,3]].groupby("YEAR").sum().sum(axis=1)

In [94]:
final_joined_yearwise = pd.concat([df1,df2,df3,df4], axis=1)
final_joined_yearwise.sum(axis=1).sort_values(ascending = False)

YEAR
2012    794176
2011    778931
2010    741511
2009    720049
2008    699234
2007    649166
2006    614663
2004    605618
2005    599539
2001    587974
2002    575309
2003    561144
dtype: int64